:root{
  --text-tittle: #7effff;
  --text-p: #ffff;
  --bg-primary: rgb(0, 8, 32);
  --bg-secundary: rgb(44, 10, 58);
  --shadow: rgba(0, 0, 0, 0.575) 0px 5px 5px 5px; 
  --color-shadow: rgba(180, 221, 255, 0.575) 0px 5px 5px 5px; 
}

*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body{
  width: 100vw;
  height: auto;
  min-height: 100vh;
  color: aliceblue;
  background-color: var(--bg-primary);
  overflow-x: hidden;
}