:root{
  --text-tittle: #967eff;
  --text-p: #ffff;
  --bg-primary: rgb(0, 8, 32);
  --bg-secundary: rgb(10, 58, 55);
  --shadow: rgba(0, 0, 0, 0.575) 0px 5px 5px 5px; 
  --color-shadow: rgba(180, 221, 255, 0.575) 0px 5px 5px 5px; 
}

*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body{
  width: 100vw;
  height: auto;
  min-height: 100vh;
  background-color: var(--bg-primary);
  overflow-x: hidden;
}

h1,h2,h3,h4,h5{
  color: var(--text-tittle);
}

p{
  color: var(--text-p)
}